In [1]:
import io
import re
import csv
import pandas as pd
import win32com.client

from docx import Document

In [2]:
Path = "D:/Projek Jardin_24102018/Company Universe/BPS/5. Konstruksi Luar P Jawa/5.Direktori Usaha Perusahaan Menengah Besar Konstruksi Buku 2 Luar Pulau Jawa.docx"

In [3]:
file = open(Path, 'rb')

In [4]:
doc = Document(file)

In [6]:
kategori = []
telp1 = []
telp2 = []
telp3 = []
email = []
dumpEmail = []
web = []
alamat = []
tempAlamat = []
perusahaan = []
kodeKategori = []
statPerusahaan = []

tempTel1 = ''
tempTel2 = ''
tempTel3 = ''
tempEmail = ''
tempWeb = ''

In [7]:
for idx, para in enumerate(doc.paragraphs):

    if(re.search(r'[0-9]{3,}-\d{5,}|^08|\+62|\d{3}-62-\d{2,3}-\d{5,}', para.text)):
        if(tempTel1 == ''):
            tempTel1 = para.text
        elif(tempTel2 == ''):
            tempTel2 = para.text
        else:
            tempTel3 = para.text
    elif(re.search(r'.*@.*\.[a-zA-Z]{2,3}\.?', para.text)):
        tempEmail = para.text
        dumpEmail.append(para.text)
    elif(re.search(r'(^www.)|(^http)', para.text)):
        tempWeb = para.text
        web.append(para.text)
    elif(re.sub(r' +','',para.text) != ''):
        if(re.search(r'^[0-9]{2}[a-zA-Z\s\-]+( - .*)?$', para.text)):
            kategori.append(re.sub(r'\d+ | - .*','',para.text))
            kodeKategori.append(re.sub(r' [a-zA-Z].*','',para.text))
            telp1.append(tempTel1)
            telp2.append(tempTel2)
            telp3.append(tempTel3)
            if(len(tempAlamat) > 1):
                if(re.search(r'\b[a-zA-Z0-9]{4,}\.[a-zA-Z]{2,3}\.?$\b',tempAlamat[0])):
                    tempWeb = tempAlamat[0]
                    web.append(tempWeb)
                    alamat.append(' '.join(tempAlamat[1:-1]))
                else:
                    alamat.append(' '.join(tempAlamat[:-1]))
            else:
                alamat.append(tempAlamat[0])
            perusahaan.append(re.sub(r'(, ?\bPT\b.*)|(, ?\bCO\b.?)|(,? ?\bBUT\b)|(,? ?\bGMBH\b)|(,? ?\bLTD.*\b)|(,? ?\bPTE\b)|(, ?\bINC\b)|(,? ?\bS\.R\.L\b)|(,? ?\bS\.P\.A\b)|(,? ?\bSDN BHD\b)','',tempAlamat[-1]))
            if(re.sub(r'.*, ','',tempAlamat[-1]) != tempAlamat[-1]):
                statPerusahaan.append(re.sub(r'.*, ','',tempAlamat[-1]))
            else:
                if(re.search(r'(\bS.R.L\b)|(\bSDN BHD\b)|(\bLTD\b)|(\bGMBH\b)|(\bS.P.A\b)',tempAlamat[-1])):
                    statPerusahaan.append(re.search(r'(\bS.R.L\b)|(\bSDN BHD\b)|(\bLTD\b)|(\bBUT\b)|(\bGMBH\b)|(\bS\.P\.A\b)',tempAlamat[-1]).group())
                else:
                    if(re.search(r'\bLIMITED\b',tempAlamat[-1])):
                        statPerusahaan.append('LTD')
                    else:
                        statPerusahaan.append('None')
            if(tempEmail == ''):
                email.append('')
            else:
                email.append(dumpEmail[0])
            if(tempWeb == ''):
                web.append('')
            tempTel1 = ''
            tempTel2 = ''
            tempTel3 = ''  
            tempEmail = ''
            tempWeb = ''
            tempAlamat = []
            dumpEmail = []
        else:
            tempAlamat.append(para.text)

In [8]:
print('perusahaan: ' + str(len(perusahaan)))
print('alamat: ' + str(len(alamat)))
print('web: ' + str(len(web)))
print('email: ' + str(len(email)))

perusahaan: 12830
alamat: 12830
web: 12830
email: 12830

In [9]:
perusahaan[len(perusahaan)-1]

'YUMA LANI KEMBU'

In [10]:
alamat[len(alamat)-1]

'JL RUKO PASIFIK PERMAI BLOK A 7, BAYANGKARA, KEC. JAYAPURA UTARA'

In [11]:
data = list(zip(kategori,telp1,telp2,telp3,email,web,alamat,perusahaan,kodeKategori,statPerusahaan))

In [12]:
DataTes = {'Kategori': kategori,
           'Telp1': telp1, 
           'Telp2': telp2, 
           'Telp3': telp3,
           'Email': email,
           'Website': web,
           'Alamat': alamat,
           'Nama Perusahaan': perusahaan,
           'Kode Kategori': kodeKategori,
           'Status Badan Usaha': statPerusahaan}

In [13]:
df = pd.DataFrame(data=data, columns=['Kategori',
                                      'Telp1', 
                                      'Telp2', 
                                      'Telp3',
                                      'Email',
                                      'Website',
                                      'Alamat',
                                      'Nama Perusahaan',
                                      'Kode Kategori',
                                      'Status Badan Usaha'])

In [14]:
df.head()

,Kategori,Telp1,Telp2,Telp3,Email,Website,Alamat,Nama Perusahaan,Kode Kategori,Status Badan Usaha
0,KONSTRUKSI KHUSUS,081261167878,,,,,"JL BUNGO LAWANG, AIR DINGIN, KEC. SIMEULUE TIM...",PADANTADARO,43,PT
1,KONSTRUKSI SIPIL,082167787981,,,,,"DSN MAWAR DESA SUAK BULUH, SUAK BULUH, KEC. SI...",RAHMAT SEJAHTERA,42,PT
2,KONSTRUKSI KHUSUS,085262624568,,,,,"JL IBNU ABAN DSN ITAU MENGITA, AIR DINGIN, KEC...",VANESSA MANDIRI UTAMA,43,PT
3,KONSTRUKSI SIPIL,,,,,,"KAB. ACEH SINGKIL JL SYECH HAMZAH FANSURI, PUL...",CEMARA LAUT,42,PT
4,KONSTRUKSI GEDUNG,081375746753,,,,,"JL BAHARI, PULO SAROK, KEC. SINGKIL 24785",PULO SAROK,41,PT

In [15]:
# df[df['Alamat'].str.contains('KAB. ')]

In [36]:
a = df[df['Alamat2'].str.contains('Direktori')]
a

Empty DataFrame
Columns: [Kategori, Telp1, Telp2, Telp3, Email, Website, Alamat, Nama Perusahaan, Kode Kategori, Status Badan Usaha, Alamat2]
Index: []

In [ ]:
df.to_csv('D:/Projek Jardin_24102018/Company Universe/BPS/Konstruksi Luar P Jawa/5.Direktori Usaha Perusahaan Menengah Besar Konstruksi Buku 2 Luar Pulau Jawa.csv',index=None)

In [32]:
df['Alamat2'] = df['Alamat'].apply(lambda x: re.sub(r'\bDirektori.*KONSTRUKSI.\b','',x))

In [31]:
df['Alamat2'] = df['Alamat'].apply(lambda x: re.sub(r'\d.*\bDirektori.*KONSTRUKSI.\b','',x))